*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}
main{
    min-height: 100%;
    padding-top: 100px;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header,section{
    padding: 50px;
    background-color: white;
    margin-bottom: 150px;
}