*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.div{
    width: 400px;
    /* padding: 20px; */
    border-radius: 40px;
    font-size: 20px;
    height: 400px;
    background-color: yellow;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    /* overflow: auto; */
    /* overflow-x: hidden;
    overflow-y: auto; */
}
.div>img{
    position: absolute;
    top: 0;
    width: 400px;
    height: auto;
    transition: all 3s;
}
.div:hover img{
    top: -100px;
}

.info{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: -200px;
    width: 100%;
    z-index: 2;
    height: 100px;
}
.div:hover .info{
    top: 0;
}

h1{
    padding: 0 200px;
    position: relative;
}
h1::before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-right: 10px;
    background-color: rgb(6, 107, 195);
    border-radius: 4px;
    position: absolute;
    top: 20px;
    left: 0;
}
h1::after{
    content: "%%%%%%";
    color:red;
    font-size: 30px;
}
.text-container{
    width: 900px;
    background-color: blueviolet;
    margin: 0 auto;
    /* overflow: hidden; */
}
.left,.right{
    /* width: 400px; */
    height: 100px;
    background-color: yellow;
}
.right{
    float: left;
}
.left{
    float: right;
}
p{
    /* clear: both; */
    /* width: 400px; */
    /* display: inline-block; */
}
.text-container img{
    width: 100px;
    height: 100px;
    /* vertical-align: top; */
    float: left;
    display: block;
    margin: 20px;
}
.clear::before,
.clear::after{
    content: "";
    display: block;
    clear: both;
}
