@import url(reset.css);
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.size{
    /* height: 200px; */
    min-height: 200px;
    max-height: 500px;
    overflow: hidden;
    /* width: 700px; */
    width: 82%;

    /* min-width: 700px; */
    max-width: 1180px;    
    margin: 50px auto;
    border: 2px solid black;
    padding: 20px;
    /* font-size: 25px; */
    display: flex;
}
.fixed{
    min-width: 150px;
    width: 150px;
    background-color: orange;
}
p{
    width: 100%;
    background-color: blue;
    color: white;
}